html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #2C3E50;
}

strong {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
}

a {
  color: #1ABC9C;
}

a:hover {
  color: lighten(#1ABC9C, 20%);
}

a:visited {
  color: #16A085;
}
