<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>100 Must Read Books</title>
        <meta name="description" content="100 Books everyone should read. Keep track of your reading and share with others.">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="assets/css/styles.css">
        
        <script src="assets/components/modernizr/modernizr.js"></script>
    </head>
    <body>
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="main">
            <header id="header" class="main-section">
                <div class="main-section-wrapper header-wrapper">
                    <a id="home-link" href="/">100mrb</a>
                    
                    <span id="main-navigation-toggle">-</span>

                    <nav id="main-navigation">
                        <ul>
                            <li><a href="">book list</a></li>
                            <li><a href="">login</a></li>
                            <li><a href="">create account</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            <div id="page-content" class="main-section">
                <div class="main-section-wrapper page-content-wrapper">
                    Loading...
                </div>
            </div>

            <footer id="footer" class="main-section">
                <div class="main-section-wrapper footer-wrapper">
                    Footer
                </div>
            </footer>
        </div>

        <script type="text/template" id="read-widget-template">
            <input type="checkbox" title="Have you read this book ?" data-book-id="<%= bookId %>" data-user-id="<%= userId %>" <%= read ? 'checked="checked"' : '' %>>
        </script>

        <script type="text/template" id="rating-widget-template">
            <div class="book-rating-widget-container">
                <div data-rating="<%= bookModel.get( 'rating' ) %>" class="widget book-rating-widget book-rating-widget-global-rating">
                    <span class="widget-label">Average rating</span>
                    <div class="rating-span"></div>
                    <div class="rating-overlay"></div>
                </div>
            </div>
        </script>

        <script type="text/template" id="books-list-book-template">
            <div class="book-title-wrapper books-list-title-wrapper">
                <div class="book-read-widget-wrapper books-list-read-widget-wrapper"></div>
                
                <h3><a href="#/book/<%= id %>"><%= title %></a></h3>
                
                <div class="book-rating-widget-wrapper books-list-rating-widget-wrapper"></div>
            </div>
        </script>

        <script type="text/template" id="book-template">
            <div class="book-title-wrapper book-page-title-wrapper">
                <div class="book-read-widget-wrapper book-page-read-widget-wrapper"></div>

                <h1><%= title %></h1>
                
                <div class="book-rating-widget-wrapper book-page-rating-widget-wrapper">
                    <div data-rating="<%= rating %>" class="widget book-rating-widget books-list-rating-widget book-rating-widget-global-rating">
                        <span class="widget-label">Average rating</span>
                        <div class="rating-overlay">
                            <div class="rating-span"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="book-content-wrapper book-page-content-wrapper">
                <img src="http://placehold.it/300x400" class="book-content-image book-page-content-image">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales sodales ultrices. Nam nec mollis leo, ac pellentesque nulla. Duis at dictum diam, nec interdum magna. Suspendisse eu est aliquet, dictum odio eu, adipiscing massa. Duis bibendum urna ac justo dignissim feugiat vel non quam. Integer sodales nunc egestas pellentesque venenatis. Suspendisse ornare ullamcorper feugiat. Quisque at pellentesque mauris, vitae aliquam eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas eu purus tempus, aliquet dui in, placerat tortor. Phasellus sem elit, cursus vitae placerat eget, lobortis ut elit.</p>

                <p>Donec nec imperdiet ipsum. Vivamus aliquam eros ac pretium feugiat. Sed posuere eleifend justo, eu eleifend dolor iaculis in. Duis ipsum augue, posuere ac lectus non, tristique suscipit ligula. Nam rutrum justo eget accumsan porta. Fusce et libero sit amet libero lobortis vestibulum. Morbi placerat dui est, vitae convallis mi pulvinar ac. Donec sollicitudin nec tortor id rhoncus. Proin erat turpis, aliquam cursus elementum et, sodales sed magna.</p>

                <p>Aenean non convallis lacus. Integer vel urna metus. Phasellus in eros sed dui pellentesque tempor vel a augue. Duis at augue sed ipsum molestie gravida at euismod massa. Morbi convallis porta risus, ac suscipit nunc ornare non. Praesent scelerisque eu nisi id egestas. Mauris eget orci auctor, auctor nisi eu, luctus nulla. Aliquam leo mi, hendrerit eget porttitor in, elementum id eros. Morbi eget hendrerit tellus. Proin non augue massa. Integer pharetra facilisis aliquet. Phasellus gravida commodo sapien eget consequat.</p>
            </div>

            <div class="book-comments-wrapper book-page-comments-wrapper">
                Comments...
            </div>
        </script>

        <script data-main="assets/js/main" src="assets/components/requirejs/require.js"></script>
    </body>
</html>
