/**
 * @file
 * General page styles.
 */

#header, #footer
    padding: .25em
    background: $clouds
    color: white
    font-size: .9em

    a
        text-decoration: none

    #home-link
        font-weight: 600

#main-navigation
    float: right

    ul
        margin: 0
        padding: 0

        li 
            list-style: none
            margin: 0
            padding: 0
            float: left

            a
                display: block
                padding: 0 1em

.book-title-wrapper
    overflow: hidden

    h1 
        margin: 0
