/**
 * @file
 * General page styles.
 */

@import "compass"

#header, #footer
    padding: .25em
    background: $clouds
    font-size: .9em
    @media screen and (max-width: $phone-breakpoint)
        font-size: 1.1em
        text-align: center
        padding: .5em

    a
        text-decoration: none

    #home-link
        font-weight: 600

#footer
    text-align: center

#main-navigation-toggle
    display: none
    background: $turquoise
    color: white
    width: 30px
    height: 30px
    float: right
    cursor: pointer
    @include border-radius(5px)
    @media screen and (max-width: $phone-breakpoint)
        display: block

#main-navigation
    float: right
    @media screen and (max-width: $phone-breakpoint)
        float: none
        display: none
        text-align: center

    ul
        margin: 0
        padding: 0

        li 
            list-style: none
            margin: 0
            padding: 0
            float: left
            @media screen and (max-width: $phone-breakpoint)
                float: none

            a
                display: block
                padding: 0 1em
                @media screen and (max-width: $phone-breakpoint)
                    padding: 1em 0

            a:hover
                @media screen and (max-width: $phone-breakpoint)
                    background: $turquoise
                    color: white !important

        li:last-child

            a
                padding-right: 0

.book-title-wrapper
    overflow: hidden

    h1, h3
        margin: 0
        float: left

    .book-read-widget
        float: left
        margin-right: .25em

        input
            display: block

    .book-rating-widget-wrapper
        overflow: hidden
        height: 2em
        min-width: 150px


.books-list-book
    padding: 1em 0
    border-bottom: 1px dotted $asbestos

.books-list-book:last-of-type
    border-bottom: 0

.books-list-book-read
    background: #eee


.books-list-title-wrapper

    h3
        font-size: 1.2em

    .book-read-widget
        font-size: 1.2em

        input
            margin-top: .75em


.books-list-rating-widget-wrapper
    float: right


.book-page-title-wrapper
    padding: .5em 0
    border-bottom: 2px solid $asbestos
    margin-bottom: 1em

    .book-read-widget
        font-size: 2em

        input
            margin-top: 1.5em

    .book-page-rating-widget-wrapper
        float: left
        margin-left: 1em
        padding-top: .5em


.book-content-wrapper
    overflow: hidden

    p:first-of-type
        margin-top: 0

    .book-page-content-image
        float: left
        margin: 0 1em 1em 0
        @media screen and (min-width: $phone-breakpoint) and (max-width: $tablet-breakpoint)
            max-width: 50%
        @media screen and (max-width: $phone-breakpoint)
            float: none
            margin: 0
            max-width: 100%
